services:
  windows:
    image: dockurr/windows
    container_name: windows
    environment:
      VERSION: "https://archive.org/download/Nano11-26H1-Beta-2/Nano11%20vNext%2026H1%20Beta%202.iso"
      RAM_SIZE: "8G"
      CPU_CORES: "4"
      DISK_SIZE: "30G"
      MANUAL: "Y"
    devices:
      - /dev/kvm
      - /dev/net/tun
    cap_add:
      - NET_ADMIN
    ports:
      - 8006:8006
      - 3389:3389/tcp
      - 3389:3389/udp
    volumes:
      - ./windows:/storage
    restart: always
    stop_grace_period: 2m
